* { 
    /* border: 1px solid red; */
    box-sizing: border-box;
    text-decoration: none;
    z-index: 2;
    padding: 0;
    margin: 0;

}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.site-header {
    position: relative;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
    padding: 40px;
}

span.overlay {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 7, 7, 0.3);
    z-index: -1;
}

#profile-picture {
    width: 100px;
    height: auto;
    border-radius: 100%;
}

nav a {
    color: #fff;
    font-size: 20px;
}

.welcome {
    margin-top: 50px;
}