* {
  /* border: 1px solid red; */
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    text-align: justify;
    text-justify: inter-word;
}
#overlay {
  background-color: rgba(0,0,0,0.9);
  padding: 20px;
}

.bg-black {
    background-color: #000;
}


.banner {
    position: relative;
    background-image: url('/img/banner-2.jpg');
    background-blend-mode: screen;
    background-repeat: no-repeat;

    background-size: cover;
    height: auto;
}

.vector {
  background: linear-gradient(257.1deg, #ae35eb 27.51%, #4052F0 113.53%);
  background-blend-mode: screen;
  width: 100%;
}

.form-control {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #aaa;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    padding: 10px;
}

.form-control::placeholder {
    color: #aaa;
    font-size: 1.5em;
}
